@import url("https://fonts.google.com/specimen/Poppins");
@import "General.scss";

/* General Styles */
*{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn{
    padding: 1rem 2rem;
    background-color: $cyan;
    color: $white;
    border-radius: 9999rem;
    border: none;
    font-weight: $bold;
    font-size: 1.25rem;

    @media screen and (min-width: 640px){
        font-size: 1.375rem;
        padding: 1.25rem 3rem;
    }
}

.container{
    width: 100%;
    margin: 0 auto;

    //sm
    @media screen and (min-width: 640px){
        max-width: 640px;
    }
    //md
    @media screen and (min-width: 768px){
        max-width: 768px;
    }
    //lg
    @media screen and (min-width: 1024px){
        max-width: 1024px;
    }
    //xl
    @media screen and (min-width: 1280px){
        max-width: 1280px;
    }
    //2xl
    @media screen and (min-width: 1536px){
        max-width: 1536px;
    }
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
h1{
    font-size: 3rem;
    line-height: 1;

    @media screen and (min-width: 580px){
        font-size: 4rem;
    }
    @media screen and (min-width: 768px){
        font-size: 4.5rem;
    }
}
h2{
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1.25rem;

    //md
    @media screen and (min-width: 768px){
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
    }
    
}

/* Hero Section */
#hero{
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem 0 12rem 0;
    overflow: hidden;

    #hero-text{
        text-align: center;
        width: 95%;
        margin: 2rem auto 0 auto;

        p{
            font-size: 1.35rem;
            line-height: 2.25rem;
            color: $grayish-violet;
            padding: 1.25rem 0;
            
            @media screen and (min-width: 640px){
                font-size: 1.45rem;
            }
            @media screen and (min-width: 1200px){
                font-size: 1.5rem;
            }
        }

        button{
            margin-top: 1.25rem;
        }
        @media screen and (min-width: 768px){
            width: 80%;
        }
        @media screen and (min-width: 1200px){
            text-align: left;
            width: 100%;
            margin: 0;
            padding-left: 4.5rem;
            align-self: center;
        }
    }

    #image{
        width: 125%;

        img{
            position: relative;
            left: 6%;

            @media screen and (min-width: 1024px){
                left: 9%;
            }
            @media screen and (min-width: 1200px){
                left: 10%;
            }
        }

        @media screen and (min-width: 1024px){
            width: 110%;
        }
        @media screen and (min-width: 1200px){
            width: 130%;
        }
    }

    @media  screen and (min-width: 1200px) {
        flex-direction: row;
        padding: 2rem 0 9rem 0;
    }
}

/* Features Section */
#stats{
    background-color: #eff1f7;
    padding: 2.5rem 0;

    form{
        text-align: center;
    }

    #intro-text{
        margin: auto;
        text-align: center;
        width: 80%;
        
        @media screen and (min-width: 640px){
            width: 70%;
        }
        @media screen and (min-width: 768px){
            width: 60%;
        }
        @media screen and (min-width: 1024px) {
            width: 45%;
        }
        @media screen and (min-width: 1280px){
            width: 36%;
        }
        @media screen and (min-width: 1536px){
            width: 30%;
        }

        p{
            color: $grayish-violet;
        }
    }
}
.card-deck{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 3rem auto;

    @media screen and (min-width: 1024px){
        margin: 5rem auto;
        width: 60%;
    }
    @media screen and (min-width: 1200px){
        height: 40vh;
        column-gap: 2rem;
        flex-direction: row;
        width: 100%;
    }
    @media screen and (min-width: 1280px){
        width: 91.6666667%;
    }

    .card{
        background-color: $white;
        padding: 1.75rem;
        height: 100%;
        align-self: auto;
        z-index: 5;
        text-align: center;
        

        @media screen and (min-width: 1024px){
            height: max-content;
            
        }
        @media screen and (min-width: 1200px){
            text-align: left;

            &:nth-of-type(1){
                align-self: flex-start;
            }
            &:nth-of-type(2){
                align-self: center;
            }
            &:last-of-type{
                align-self: flex-end;
            }
        }

        .feature-icon{
            background-color: $v-dark-violet;
            border-radius: 9999rem;
            display: flex;
            padding: 1.25rem;
            max-width: max-content;
            position: relative;
            top: -3.75rem;
            margin: 0 auto;

            @media screen and (min-width: 1200px){
                margin: 0;
            }
        }
        h3{
            font-size: 1.25rem;
            position: relative;
            top: -20px;
                
        }
        p{
            color: $grayish-violet;
        }
    }

    &::after{
        content: "";
        position: absolute;
        display: flex;
        background-color: $cyan;
        height: 60%;
        width: .5rem;
        

        @media screen and (min-width: 1200px){
            width: 50%;
            height: .5rem;
            align-self: center;
        }
    }
}

/* CTA Section */
#cta{
    background-color: $dark-violet;
    background-image: url("../images/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    text-align: center;
    padding: 3.5rem;

    @media screen and (min-width: 1024px){
        background-image: url("../images//bg-shorten-desktop.svg");
    }
}