@import "General.scss";

header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;

    @media screen and (min-width: 1024px){
        padding: 2rem;
    }
    @media screen and (min-width: 1200px){
        padding: 1.5rem 4.5rem;
    }
}
#header-left{
    @media  screen and (min-width: 768px){
        display: flex;
        align-items:center;
    }

    #logo{
        display: flex;
    }
    nav{
        display: none;

        @media  screen and (min-width: 1024px){
            display: block;
            margin-left: 1rem;

            ul{
                display: flex;

                li{
                    margin-left: 1.8rem;

                    a{
                        font-weight: 700;
                        color: $grayish-violet
                    }
                }
            }
        }
    }
}
#header-right{
    display: none;

    @media  screen and (min-width: 1024px){
        display: block;
    }

    button{
        font-weight: 700;

        &#login-btn{
            border: none;
            background-color: transparent;
            color: $grayish-violet;
        }

        &#signup-btn{
            margin-left: 2rem;
            font-size: 1rem;
            padding: .75rem 1.75rem;
        }
    }
}
#menu-icon{
    display: flex;
    flex-direction: column;
    width: 30px;

    @media  screen and (min-width: 1024px){
        display: none;
    }

    span{
        background-color: $gray;
        height: 3px;
        display: block;
        margin-bottom: 5px;
    }
}

#hamburger-menu{
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 15px;
    background-color: $v-dark-violet;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
    

    @media  screen and (min-width: 1024px){
        display: none;
    }

    nav{
        ul{
            padding: 2rem;
            li{
                text-align: center;
                padding: 1.25rem;
                
                &:nth-of-type(3){
                    padding-bottom: 2.5rem;
                }
                &:nth-of-type(4){
                    border-top: 1px solid $grayish-violet;
                    padding-top: 2.5rem;
                }

                a{
                    color: $white;
                    font-weight: $bold;
                    font-size: 1.25rem;

                    &.btn{
                        display: inline-block;
                        padding: 1rem;
                        width: 90%;
                    }

                    @media screen and (min-width:768px){
                        font-size: 1.75rem;
                    }
                }
            }
        }
    }
}
.showNav{
    transform: translateY(0%)!important;
}
.hideNav{
    transform: translateY(-250%);
}
