@import "../../General.scss";

.feature-icon {
  background-color: $v-dark-violet;
  border-radius: 9999rem;
  display: flex;
  padding: 1.25rem;
  max-width: max-content;
  position: relative;
  top: -3.75rem;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}
