@import "../../General.scss";

#cta {
  background-color: $dark-violet;
  background-image: url("../../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  text-align: center;
  padding: 3.5rem;

  @media screen and (min-width: 1024px) {
    background-image: url("../../images/bg-shorten-desktop.svg");
  }
}
