@import "General.scss";

footer{
    background-color: $v-dark-violet;
    color: $white;

    @media screen and (min-width: 1024px){
        padding: 3rem 3rem 0 3rem;
    }

    .container{
        display: flex;
        flex-direction: column;
        text-align: center;

        @media screen and (min-width: 1024px){
            flex-direction: row;
            justify-content: space-around;
            text-align: left;
        }
        #footer-logo{
            align-self: center;
            padding: 2rem 0;

            @media screen and (min-width: 1024px){
                align-self: flex-start;
                padding: 0;
            }

            svg{
                width: 100%;
                height: 100%;
            }
        }
        .footer-category{
            padding-bottom: 2rem;

            @media screen and (min-width: 1024px){
                padding: 0;
            }

            h5{
                font-weight: $bold;
                margin-bottom: 1.25rem;
            }
            ul{
                li{
                    color: $gray;
                    margin-bottom: .75rem;
                }
            }
        }
        #social-icons{
            display: flex;
            align-self: center;
            padding-bottom: 2rem;

            @media screen and (min-width: 1024px){
                align-self: unset;
                padding: 0;
            }

            .icon{
                margin-left: 1rem;
                cursor: pointer;
                height: 10%;

                @media screen and (min-width: 768px){
                    height: 20%;
                }
            }
        }
    }
}

.attribution{
    font-size: 12px;
    text-align: center;
    color: $white;
    padding-bottom: .75rem;

    a{
        color: $white;
        font-size: inherit;
    }
}