@import url("https://fonts.google.com/specimen/Poppins");
/* General Styles */
* {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5; }

li {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.btn {
  padding: 1rem 2rem;
  background-color: #2acfcf;
  color: white;
  border-radius: 9999rem;
  border: none;
  font-weight: 700;
  font-size: 1.25rem; }
  @media screen and (min-width: 640px) {
    .btn {
      font-size: 1.375rem;
      padding: 1.25rem 3rem; } }

.container {
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 640px) {
    .container {
      max-width: 640px; } }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px; } }
  @media screen and (min-width: 1024px) {
    .container {
      max-width: 1024px; } }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px; } }
  @media screen and (min-width: 1536px) {
    .container {
      max-width: 1536px; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 3rem;
  line-height: 1; }
  @media screen and (min-width: 580px) {
    h1 {
      font-size: 4rem; } }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 4.5rem; } }

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1.25rem; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 2.25rem;
      line-height: 2.5rem;
      margin-bottom: 1.5rem; } }

/* Hero Section */
#hero {
  display: flex;
  flex-direction: column-reverse;
  padding: 2rem 0 12rem 0;
  overflow: hidden; }
  #hero #hero-text {
    text-align: center;
    width: 95%;
    margin: 2rem auto 0 auto; }
    #hero #hero-text p {
      font-size: 1.35rem;
      line-height: 2.25rem;
      color: #9e9aa7;
      padding: 1.25rem 0; }
      @media screen and (min-width: 640px) {
        #hero #hero-text p {
          font-size: 1.45rem; } }
      @media screen and (min-width: 1200px) {
        #hero #hero-text p {
          font-size: 1.5rem; } }
    #hero #hero-text button {
      margin-top: 1.25rem; }
    @media screen and (min-width: 768px) {
      #hero #hero-text {
        width: 80%; } }
    @media screen and (min-width: 1200px) {
      #hero #hero-text {
        text-align: left;
        width: 100%;
        margin: 0;
        padding-left: 4.5rem;
        align-self: center; } }
  #hero #image {
    width: 125%; }
    #hero #image img {
      position: relative;
      left: 6%; }
      @media screen and (min-width: 1024px) {
        #hero #image img {
          left: 9%; } }
      @media screen and (min-width: 1200px) {
        #hero #image img {
          left: 10%; } }
    @media screen and (min-width: 1024px) {
      #hero #image {
        width: 110%; } }
    @media screen and (min-width: 1200px) {
      #hero #image {
        width: 130%; } }
  @media screen and (min-width: 1200px) {
    #hero {
      flex-direction: row;
      padding: 2rem 0 9rem 0; } }

/* Features Section */
#stats {
  background-color: #eff1f7;
  padding: 2.5rem 0; }
  #stats form {
    text-align: center; }
  #stats #intro-text {
    margin: auto;
    text-align: center;
    width: 80%; }
    @media screen and (min-width: 640px) {
      #stats #intro-text {
        width: 70%; } }
    @media screen and (min-width: 768px) {
      #stats #intro-text {
        width: 60%; } }
    @media screen and (min-width: 1024px) {
      #stats #intro-text {
        width: 45%; } }
    @media screen and (min-width: 1280px) {
      #stats #intro-text {
        width: 36%; } }
    @media screen and (min-width: 1536px) {
      #stats #intro-text {
        width: 30%; } }
    #stats #intro-text p {
      color: #9e9aa7; }

.card-deck {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 3rem auto; }
  @media screen and (min-width: 1024px) {
    .card-deck {
      margin: 5rem auto;
      width: 60%; } }
  @media screen and (min-width: 1200px) {
    .card-deck {
      height: 40vh;
      column-gap: 2rem;
      flex-direction: row;
      width: 100%; } }
  @media screen and (min-width: 1280px) {
    .card-deck {
      width: 91.6666667%; } }
  .card-deck .card {
    background-color: white;
    padding: 1.75rem;
    height: 100%;
    align-self: auto;
    z-index: 5;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .card-deck .card {
        height: max-content; } }
    @media screen and (min-width: 1200px) {
      .card-deck .card {
        text-align: left; }
        .card-deck .card:nth-of-type(1) {
          align-self: flex-start; }
        .card-deck .card:nth-of-type(2) {
          align-self: center; }
        .card-deck .card:last-of-type {
          align-self: flex-end; } }
    .card-deck .card .feature-icon {
      background-color: #232127;
      border-radius: 9999rem;
      display: flex;
      padding: 1.25rem;
      max-width: max-content;
      position: relative;
      top: -3.75rem;
      margin: 0 auto; }
      @media screen and (min-width: 1200px) {
        .card-deck .card .feature-icon {
          margin: 0; } }
    .card-deck .card h3 {
      font-size: 1.25rem;
      position: relative;
      top: -20px; }
    .card-deck .card p {
      color: #9e9aa7; }
  .card-deck::after {
    content: "";
    position: absolute;
    display: flex;
    background-color: #2acfcf;
    height: 60%;
    width: .5rem; }
    @media screen and (min-width: 1200px) {
      .card-deck::after {
        width: 50%;
        height: .5rem;
        align-self: center; } }

/* CTA Section */
#cta {
  background-color: #3b3054;
  background-image: url("../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 3.5rem; }
  @media screen and (min-width: 1024px) {
    #cta {
      background-image: url("../images//bg-shorten-desktop.svg"); } }

/*# sourceMappingURL=App.css.map */
